.list {
  overflow-y: scroll;
  margin-right: 115px;

  .rows {
    position: relative;
  }
}

.keyValues {
  padding: 20px;
  color: #888;
  font-size: 0.8em;
  .valueKey {
    display: inline-block;
    width: 175px;
  }
}
