.row {
  background-color: #fff;
  position: absolute;
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: column;

  &.secondary {
    background-color: #ddd;
  }

  .title {
    flex: 1;
    display: flex;
    align-items: flex-end;
    padding: 0 0 0 5px;
  }

  .subtitle {
    flex: 1;
    display: flex;
    align-items: flex-start;
    padding: 0 0 0 15px;
    font-size: 0.8em;
    color: #666;
  }
}
